{% extends 'layouts/front.html.twig' %}

{% block content %}
<main>
    <h2>Articles</h2>
    <p id='ph' class="heart" data-type="like">{{ likes }}</p>
</main>
{% endblock %}
{% block js_footer %}
    {{ parent() }}
<script src="http://localhost/{{ asset('js/like.js') }}"></script>
{% endblock %}
