{% extends 'layouts/front.html.twig' %}

{% block content %}
<main>
    <h2>Article :: {{ article }}</h2>
    <hr>
    <div>{{ articleContent|cached_markdown }}</div>

    <ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
    </ul>
</main>
{% endblock %}
{% block js_footer %}
    {{ parent() }}
{% endblock %}
